<div [formGroup]="form">
  <div [formArrayName]="id">
    <div  *ngFor="let item of formArray.controls; let i = index" class="row mb-4">
      <div class="col-11">
        <fg-data-relation-element [id]="id + 'Dataset' + i" [form]="item" [formConfig]="formConfig" />
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-danger" (click)="removeItem(i)"><i class="bi-dash-circle"></i> Remove</button>
      </div>
    </div>
  </div>
  <div *ngIf="config?.helpText" class="form-text">{{config?.helpText}}</div>
  <div *ngIf="formArray.errors" class="form-text text-danger">
    {{formArray.errors | json}}
  </div>
  <div  *ngIf="debug" class="form-text">
    <pre>{{config | json}}</pre>
  </div>
  <button type="button" class="btn btn-success" (click)="addItem()"><i class="bi-plus-circle"></i> Add</button>
</div>
