<h3>Simple Form with Remote Configuration and Data</h3>
<p>This form loads it's configuration from a JSON response of an AJAX call, additionally fom values can be populated with a request</p>
<p>The form's configuration and values are served over a mocked api call to local JSON files</p>
<p>It uses the built-in formSubmit event to log the form's values to the console, as well as some basic validation</p>
<p>An additional Button is configured which uses the customCallBack event to load and populate some data from a remote resource</p>
<p>The form inputs are wrapped in "card", "row" and "col" layout elements to provide a simple layout</p>
<fg-dynamic-form id="simpleForm" asyncUrl="/get-form-layout" (onFormSubmit)="formSubmit($event)" (onCustomCallBack)="loadFormData($event)" (onFormConfigLoaded)="formConfigLoaded($event)"/>

<div *ngIf="formConfig">
  <button type="button" class="btn btn-primary" (click)="toggleFormConfig()">{{ showConfig ? 'Hide' : 'Show' }} Config</button>
  <pre *ngIf="showConfig">{{formConfig | json}}</pre>
</div>
