<div class="form-control">
  <div class="selection-display-wrapper" (click)="toggleDataList()">
    <span class="current-selection">
      @if (value) {
        {{value[settings.valueKey] ?? ''}}
      }
    </span>
    <i class="bi-chevron-down"></i>
  </div>
</div>
@if (showDataList) {
  <div class="data-display">
    <ul class="list-group">
      @for (dataset of options; track dataset) {
        <li class="list-group-item" (click)="optionClicked(dataset)">{{dataset[settings.valueKey]}}</li>
      }
    </ul>
  </div>
}
