<form class="form" [formGroup]="form" (ngSubmit)="formSubmit()">
  <div class="form-body">
    <ng-template fgFormElementHost></ng-template>
  </div>
  @if (formConfig?.buttons) {
    <div class="form-footer button-row d-flex gap-1 justify-content-end">
      @for (button of formConfig?.buttons; track trackByButtonKey($index, button)) {
        <button
          [type]="button.type" [class]="['btn', button.class ?? 'btn-primary']"
          (click)="buttonClick(button)"
          [disabled]="button.settings?.disableIfFormInvalid && !form.valid"
          >
          @if (button.icon) {
            <i [class]="button.icon"></i>
            } {{button.label}}
          </button>
        }
      </div>
    }
    @if (showLoadingIndicator) {
      <fg-loading-spinner [message]="'Loading form...'" [overlay]="true"></fg-loading-spinner>
    }
  </form>
