<div [formGroup]="form" [class]="{'hidden': hidden, 'form-floating': config?.floatingLabel}" class="mb-2">
  @if (config?.label) {
    <span class="label">{{config?.label}}</span>
  }
  <fg-data-select-element [id]="config?.key ?? ''" [formControlName]="key" [settings]="config?.settings" [options]="config?.options ?? []"></fg-data-select-element>
</div>
@if (config?.helpText) {
  <div class="form-text">{{config?.helpText}}</div>
}
@if (control?.errors) {
  <ul class="error-messages form-text text-danger">
    @for (message of getErrorMessages(); track message) {
      <li>{{message}}</li>
    }
  </ul>
}
