<div [formGroup]="form" [class]="{'hidden': hidden, 'form-floating': config?.settings?.floatingLabel}" class="mb-2">
  <label [for]="id" *ngIf="config?.label && !config?.settings?.floatingLabel">{{config?.label}}</label>
  <select [id]="id" class="form-select" [formControlName]="id">
    <option *ngFor="let option of config?.options" [value]="option.value">{{option.label}}</option>
  </select>
  <label [for]="id" *ngIf="config?.label && config?.settings?.floatingLabel">{{config?.label}}</label>
  <div *ngIf="config?.helpText" class="form-text">{{config?.helpText}}</div>
  <ul *ngIf="control?.errors" class="error-messages form-text text-danger">
    <li *ngFor="let message of getErrorMessages()">{{message}}</li>
  </ul>
</div>
