<div [formGroup]="form" [class]="{'hidden': hidden, 'form-floating': config?.settings?.floatingLabel}" class="mb-2">
  @if (config?.label && !config?.settings?.floatingLabel) {
    <label [for]="id">{{config?.label}}</label>
  }
  <select [id]="id" class="form-select" [formControlName]="key">
    @for (option of config?.options; track option) {
      <option [value]="option.value">{{option.label}}</option>
    }
  </select>
  @if (config?.label && config?.settings?.floatingLabel) {
    <label [for]="id">{{config?.label}}</label>
  }
  @if (config?.helpText) {
    <div class="form-text">{{config?.helpText}}</div>
  }
  @if (control?.errors) {
    <ul class="error-messages form-text text-danger">
      @for (message of getErrorMessages(); track message) {
        <li>{{message}}</li>
      }
    </ul>
  }
</div>
