<h3>Most Simple Form</h3>
<p>This is the most simple form possible, it only consists of some inputs and a submit button without any validation.</p>
<p>The form's configuration is hardcoded in a variable "formConfig" in this components class</p>
<p>It uses the built-in formSubmit event to log the form's values to the console</p>

<fg-dynamic-form id="simpleForm" [formConfig]="formConfig" (onFormSubmit)="formSubmit($event)"/>

<fg-prism>
  <code class="language-css">
    .foo {{'{'}}
    bar baz
    {{'}'}}
  </code>
</fg-prism>

<fg-config-display [formConfig]="formConfig"></fg-config-display>
